body {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding-bottom: 0.9rem;
  }

.search-container {
    text-align: center;
    margin-bottom: 12px;
}

.search-container input {
    width: 33%;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }